{% load i18n %}
<div class="videojs_block">
    <h2>{{ display_name }}</h2>
    <video oncontextmenu="return false;" class="video-js vjs-fluid" controls data-setup='{"language":"pl", "playbackRates": [0.5, 1, 1.5, 2]}'
           id="{{ uid }}"
           preload="auto">

        {% for video_url in video_urls %}
        <source src="{{video_url.src}}" type="{{video_url.type}}" {% if forloop.first %}selected="true"{% endif %} label="{{video_url.label|default:'auto'}}"/>
        {% endfor %}

        <p class="vjs-no-js">{% trans "To view this video, please enable JavaScript and consider upgrading to a web
            browser that supports HTML5 video" %}</p>
        {% for lang, url in subtitles_url.items %}
        <track default kind='captions' src='{{ url }}' label="{{lang}}" srclang='{{lang}}'/>
        {% endfor %}
    </video>
</div>
